<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALP_Slayvega.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Mac_ALP_Slayvega.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Promises (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchSlayvega Watch App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WatchSlayvega Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F8222542DEED93800D6822B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F8222602DEED93900D6822B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F82226A2DEED93900D6822B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FBD548F2DDEBD2900332EA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FBD549C2DDEBD2B00332EA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FBD54A62DDEBD2B00332EA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
